<div style="margin: 0px auto; padding: 2rem; line-height: 2rem; text-align: justify; display: grid; justify-content: center;">
  <form style="grid-row: auto;" (ngSubmit)="resolver(calculatorForm.value)" #calculatorForm="ngForm">
    <label for="number_1">Number 1: </label>
    <input type="number" id="number_1" name="number_1" ngModel required>
    <br>
    <label for="operations">Operation: </label>
    <select name="operations" id="operations" ngModel required>
      <option value="" selected disabled>Choose an operation</option>
      <option value="addition">Addition</option>
      <option value="subtraction">subtraction</option>
      <option value="multiplication">multiplication</option>
      <option value="division">division</option>
    </select>
    <br>
    <label for="number_2">Number 2: </label>
    <input type="number" id="number_2" name="number_2" ngModel required>
    <br>
    <input type="submit">
  </form>
  <div style="grid-row: auto;">
    <p>Result: {{ result }}</p>
  </div>
  <div *ngIf="solutionArray.length > 0">
    <app-result [solutionArray]="solutionArray"></app-result>
    <br>
    <button (click)="popElement()">Erase the last entry</button>
  </div>
</div>
